.skills {
  padding: 40px 25px;
  background-color: var(--background-two);
}

.skills-heading {
  font-size: clamp(32px, 6vw, 42px);
  text-align: center;
  margin-bottom: 40px;
  color: var(--main-text-color);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .skills {
    padding: 36px 18px;
  }
}
